<%- include('header') %>
<body>
    <p class="display-4 text-center text-secondary m-5">Login here</p>
<form  class="w-75 mx-auto mt-5">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="admin" ngModel value="admin">
        <label class="form-check-label" for="admin">
            Admin
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="user" ngModel value="user">
        <label class="form-check-label" for="user">
            User
        </label>
    </div>
    <div class="form-floating mb-3">
        <input type="username" class="form-control" id="username" placeholder="name@example.com" name="username"
            ngModel>
        <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" ngModel>
        <label for="password">Password</label>
    </div>
    <a href="/auth/google">Sign In with Google</a>

    <button class="btn btn-success" type="submit">Login</button>
</form>

</body>